node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/static/_pagefind

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Icons and other assets
/src/lib/assets/icons
/src/docs
/src/routes/(docs)/+layout.ts
/src/routes/(docs)/docs/\[ver]/+page.ts
/src/routes/(docs)/docs/\[ver]/*/
