.machineStatus {
  @apply flex items-center gap-1.5;

  .indicator {
    @apply w-1.5 h-1.5 rounded-full m-1.5;
  }

  &.online > .indicator {
    background-color: theme(colors.fg.semantic.success.1);
  }

  &.offline > .indicator {
    background-color: theme(colors.fg.semantic.error.1);
  }

  &.outOfSync > .indicator {
    background-color: theme(colors.fg.inv.3);
  }
}
