/* Insert custom styles here */

navigation-view {
    padding: 5px;
    /* padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px; */
}

avatar {
    margin: 2px;
}

.trust {
    padding-top: 25px;
    padding-bottom: 25px;
}

.join-list {
    margin-top: 1px;
    margin-left: 2px;
    margin-right: 2px;

}

.progress-bar {
    margin-right: 25px;
    min-width: 200px;
}

.group-list {
	background-color: inherit;
}
.group-list > .activatable:hover {
	background-color: unset;
}

.group-list > row {
    margin-top: 12px;
    border-bottom: unset;
}


.vm-list {
    margin-top: 25px; 
    margin-bottom: 25px; 
}

.no-shadow {
    box-shadow: none;	
}

.search-entry {
    margin-bottom: 12px; 
}

searchbar {
    margin-bottom: 25px; 
}


.log-view {
    margin-top: 12px;
    font-family: monospace;
    padding: 8px;
}
