.md-admonition {
  padding: 1rem;
  margin: 1rem 0;
  border-inline-start: 4px solid;

  .md-admonition-title {
    display: flex;
    gap: 0.5rem;
    justify-content: start;
    align-items: center;
    font-weight: 600;
    text-transform: capitalize;
  }

  .md-admonition-icon {
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    inline-size: 1.25rem;
    block-size: 1.25rem;

    &::before {
      content: "";
      display: block;
      inline-size: 1rem;
      block-size: 1rem;
      background-color: currentcolor;
    }
  }
}

/* TODO: Adjust styling */
.md-admonition.is-note {
  background-color: #eff6ff;
  border-inline-start-color: #3b82f6;

  .md-admonition-title {
    color: #1e40af;
  }

  .md-admonition-icon::before {
    mask: url("$lib/assets/icons/info.svg") no-repeat center;
    mask-size: contain;
  }
}

.md-admonition.is-important {
  background-color: #fffbeb;
  border-inline-start-color: #facc15;

  .md-admonition-title {
    color: #b45309;
  }

  .md-admonition-icon::before {
    mask: url("$lib/assets/icons/attention.svg") no-repeat center;
    mask-size: contain;
  }
}

.md-admonition.is-danger {
  background-color: #fef2f2;
  border-inline-start-color: #ef4444;

  .md-admonition-title {
    color: #b91c1c;
  }

  .md-admonition-icon::before {
    mask: url("$lib/assets/icons/warning-filled.svg") no-repeat center;
    mask-size: contain;
  }
}

.md-admonition.is-tip {
  background-color: #ecfdf5;
  border-inline-start-color: #10b981;

  .md-admonition-title {
    color: #065f46;
  }

  .md-admonition-icon::before {
    mask: url("$lib/assets/icons/heart.svg") no-repeat center;
    mask-size: contain;
  }
}
