.shiki {
  &,
  & span {
    color: var(--shiki-light);
    font-weight: var(--shiki-light-font-weight);
    font-style: var(--shiki-light-font-style);
    text-decoration: var(--shiki-light-text-decoration);
  }

  code {
    display: block;
  }

  .line {
    display: inline-block;
    width: 100%;
    padding: 0 15px;
  }

  /* line numbers */
  &.line-numbers code {
    counter-increment: step 0;
    counter-reset: step;
  }

  &.line-numbers .line::before {
    content: counter(step);
    display: inline-block;
    width: 1rem;
    margin-right: 1em;
    color: rgb(115 138 148 / 40%);
    counter-increment: step;
    text-align: right;
  }

  /* indent guides */
  .indent {
    position: relative;
    left: var(--indent-offset);
    display: inline-block;
  }

  .indent:empty {
    vertical-align: bottom;
    height: 1lh;
  }

  .indent::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: currentcolor;
    opacity: 0.15;
  }

  /* diff */
  .line.diff.remove {
    background-color: #db0a0a41;
  }

  .line.diff.add {
    background-color: #0adb4954;
  }

  .line.highlighted {
    background-color: #00000024;
  }

  @media (prefers-color-scheme: dark) {
    &,
    & span,
    html.dark &,
    html.dark & span {
      background-color: var(--shiki-dark-bg);
      color: var(--shiki-dark);
      font-weight: var(--shiki-dark-font-weight);
      font-style: var(--shiki-dark-font-style);
      text-decoration: var(--shiki-dark-text-decoration);
    }
  }

  margin: 0 -15px;
  padding: 15px 0;
  background-color: var(--shiki-light-bg);
}
