.container {
  border-radius: 0.375rem;
  overflow: hidden;

  /* todo replace with a theme() color */
  box-shadow: 0.1875rem 0.1875rem 0 0 rgba(145, 172, 175, 0.32);
  @apply rounded-bl-md rounded-br-md border border-def-3;
}

.titlebar {
  @apply flex items-center justify-center;
  @apply px-2 py-1.5;
  @apply bg-def-3;
  @apply rounded-tl-md rounded-tr-md;
  /* @apply border-b-def-3; */

  border-bottom: solid 1px theme(colors.border.def.2);
}
