html {
  color-scheme: light dark;
}

body {
  font:
    400 16px/1.45 "Mona Sans",
    sans-serif;

  &:has([data-page-id="docs"]) {
    color: var(--fg-color);
    background: var(--bg-color);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    margin-inline-start: 0.3em;
    font-size: 0.85em;
    text-decoration: none;
    visibility: hidden;
  }

  code {
    padding-block-end: 0;
    line-height: inherit;
  }

  &:hover a {
    visibility: visible;
  }
}

h1 {
  margin: 1.5em 0 1em;
  color: inherit;
  font-weight: 700;
  font-size: 32.44px;
}

h2 {
  margin: 2em 0 0.5em;
  color: inherit;
  border-block-end: 1px solid var(--heading-border-color);
  font-weight: 700;
  font-size: 28.83px;
}

h3 {
  margin: 2em 0 1em;
  font-size: 25.63px;
}

h4 {
  margin: 2em 0 1em;
  font-size: 22.78px;
}

h5 {
  margin: 2em 0 1em;
  font-size: 20.25px;
}

h6 {
  margin: 2em 0 1em;
  font-size: 18px;
}

a {
  color: var(--link-color);
  text-decoration: 1px underline var(--link-underline-color);
  text-underline-offset: 2px;
}

b,
strong {
  font-weight: 600;
}

ul,
ol {
  padding: 0;
  padding-inline-start: 1.3em;
  margin: 1em 0;

  &.contains-task-list {
    padding-inline-start: 1.4em;
    list-style: none;

    > li {
      /* margin-inline-start: -20px; */

      input[type="checkbox"]:first-of-type {
        margin: 0 0.4em 0 -1.35em;
      }
    }
  }
}

li {
  &::marker {
    font-size: 16px;
  }

  > p {
    margin-block: 0.5em;
  }
}

code {
  padding: 2px 4px;
  color: var(--code-fg-color);
  background: var(--code-bg-color);
  border: 1px solid var(--code-border-color);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.8;

  a:has(&) {
    text-decoration: none;
  }

  a & {
    color: var(--link-code-fg-color);
    background: var(--link-code-bg-color);
    border-color: var(--link-code-border-color);
  }
}

blockquote {
  padding-inline-start: 1em;
  margin: 1em 0;
  color: #757575;
  border-inline-start: 3px solid #8c8c8c;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 6px 13px;
  border: 1px solid var(--table-border-color);
}

tr:nth-child(2n) {
  background-color: var(--table-alternative-bg-color);
}

@media (--medium) {
  h1 {
    margin-block: 1em;
    font-size: 36px;
  }
}

@media (--wide) {
  h1 {
    margin-block-start: 1em;
  }
}
