:root {
  --fg-color: #000;
  --secondary-fg-color: #2c4347;
  --link-color: #0051ff;
  --link-underline-color: #4e80ec;
  --bg-color: #e1ecf0;
  --secondary-bg-color: #d2dee2;
  --table-border-color: #d0d0d0;
  --table-alternative-bg-color: #f6f8fa;
  --search-fg-color: #4f747a;
  --search-border-color: #b2c8cb;
  --search-button-fg-color: var(--fg-color);
  --search-button-bg-color: var(--bg-color);
  --search-result-separator-color: #e5e5e5;
  --content-fg-color: #000;
  --content-bg-color: #fff;
  --content-secondary-fg-color: #141616;
  --content-secondary-bg-color: #f7f9fa;
  --content-border-color: #d8e8eb;
  --toc-title-fg-color: var(--fg-color);
  --toc-fg-color: #223538;
  --toc-bg-color: var(--content-bg-color);
  --toc-highlighted-fg-color: #000;
  --toc-highlighted-bg-color: #f7f9fa;
  --toc-indent-guide-color: #d6e4ea;
  --toc-highlighted-indent-guide-color: #606d74;
  --toc-border-color: #d6e4ea;
  --nav-indent-guide-color: #afc6ca;
  --code-fg-color: #171719;
  --code-bg-color: #eff1f5;
  --code-border-color: #c4c7cd;
  --link-code-fg-color: var(--link-color);
  --link-code-bg-color: #dde4f3;
  --link-code-border-color: #abc0ed;
  --tabs-border-color: #d6d6d6;
  --shiki-indent-offset: 10px;
  --shiki-indent-guide-color: #0000000e;
  --shiki-diff-remove-bg-color: #db0a0a41;
  --shiki-diff-add-bg-color: #20c55150;
  --shiki-highlighted-bg-color: #ffffffc6;
  --shiki-title-border-color: #0000001a;
}
