:root {
  --fg-color: #000;
  --secondary-fg-color: #2c4347;
  --link-color: #0051ff;
  --link-underline-color: #4e80ec;
  --bg-color: #e1ecf0;
  --secondary-bg-color: #d2dee2;
  --table-border-color: #a3a3a3;
  --table-alternative-bg-color: #f6f8fa;
  --input-fg-color: #4f747a;
  --input-border-color: #7b9b9f;
  --content-fg-color: #000;
  --content-bg-color: #fff;
  --content-secondary-fg-color: #415e63;
  --content-secondary-bg-color: #f7f9fa;
  --content-border-color: #d8e8eb;
  --toc-title-fg-color: var(--fg-color);
  --toc-fg-color: #223538;
  --toc-bg-color: var(--content-bg-color);
  --toc-highlighted-fg-color: #000;
  --toc-highlighted-bg-color: #f7f9fa;
  --toc-indent-guide-color: #d6e4ea;
  --toc-highlighted-indent-guide-color: #606d74;
  --toc-border-color: #d6e4ea;
  --nav-indent-guide-color: #afc6ca;
  --shiki-indent-offset: 10px;
  --shiki-indent-guide-color: #0000000e;
  --shiki-diff-remove-bg-color: #db0a0a41;
  --shiki-diff-add-bg-color: #20c55150;
  --shiki-highlighted-bg-color: #ffffffc6;
  --shiki-title-border-color: #0000001a;
}
