.direnv
***/.hypothesis
.coverage.*
**/qubeclan
**/testdir
democlan
result*
/pkgs/clan-cli/clan_cli/nixpkgs
/pkgs/clan-cli/clan_cli/webui/assets
/machines
nixos.qcow2

# python
__pycache__
.coverage
.mypy_cache
.pytest_cache
.reports
.ruff_cache
htmlcov
