.direnv
***/.hypothesis
out.log
.coverage.*
**/qubeclan
**/testdir
democlan
example_clan
result*
/pkgs/clan-cli/clan_cli/nixpkgs
/pkgs/clan-cli/clan_cli/webui/assets
nixos.qcow2
**/*.glade~
/docs/out

# dream2nix
.dream2nix

# python
__pycache__
.coverage
.mypy_cache
.pytest_cache
.reports
.ruff_cache
htmlcov

# flatpak
.flatpak-builder
build
build-dir
repo
.env

# node
node_modules
dist
.webui