[tool.mypy]
python_version = "3.10"
pretty = true
warn_redundant_casts = true
disallow_untyped_calls = true
disallow_untyped_defs = true
no_implicit_optional = true
exclude = "clan_cli.nixpkgs"

[tool.ruff]
line-length = 88
target-version = "py311"
lint.select = [
  "A",
  "ANN",
  "B",
  "C4",
  "E",
  "F",
  "I",
  "N",
  "RUF",
  "TID",
  "T100",
  "U",
]
lint.ignore = [ "E501", "ANN101", "ANN401", "A003"]
