.cubes-scene-container {
  width: 100%;
  height: 100vh;
}

/* <div class="absolute bottom-4 left-1/2 flex -translate-x-1/2 flex-col items-center">
        <Show when={show()}> */
.toolbar-container {
  @apply absolute bottom-10 z-30 left-1/2;
  @apply flex justify-center items-center;
}

.machine-label {
  @apply text-white bg-inv-4 py-1 px-2 rounded-sm;
  font-size: 0.75rem;
}

.machine-label::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #203637 transparent transparent transparent;
}
