.cubes-scene-container {
  width: 100%;
  height: 100vh;
  cursor: pointer;
}

.toolbar-container {
  position: absolute;
  bottom: 10%;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}


.machine-label {
  @apply text-white bg-fg-def-2 py-1 px-3 rounded-sm;
  font-size: 0.8rem;
}