@import url("@fontsource-variable/geist");

html {
  box-sizing: border-box;

  &.no-scroll {
    overflow: hidden;
    height: 100vh;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Geist Variable", sans-serif;

  &:has([data-page-id="docs"]) {
    background: #e1ecf0;
    color: #000;
    font:
      500 18px/1.37 "Mona Sans",
      sans-serif;
  }
}

h1 {
  margin: 2em 0;
  color: inherit;
  font-weight: 700;
  font-size: 40px;
}

h2 {
  margin: 2em 0 0.5em;
  color: inherit;
  font-weight: 700;
  font-size: 24px;
}

h3 {
  margin: 2em 0 1em;
}

a {
  text-decoration: none;
}
