# shellcheck shell=bash
source_up

watch_file shell.nix default.nix flake-module.nix

# Because we depend on nixpkgs sources, uploading to builders takes a long time
use flake .#network-status --builders ''
