.heading {
  background: #fff;
  border-bottom: 6px solid #e7f2f4;
}
.headingInner {
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid #d8e8eb;
  display: flex;
  justify-content: space-between;
}
