@config "../tailwind.config.ts";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geist";
  font-weight: 400;
  src: url(../.fonts/Geist-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Geist";
  font-weight: 500;
  src: url(../.fonts/Geist-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "Geist";
  font-weight: 600;
  src: url(../.fonts/Geist-SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: "Geist Mono";
  font-weight: 400;
  src: url(../.fonts/GeistMono-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Geist Mono";
  font-weight: 500;
  src: url(../.fonts/GeistMono-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "Geist Mono";
  font-weight: 600;
  src: url(../.fonts/GeistMono-SemiBold.woff2) format("woff2");
}

html {
  font-family: "Geist", "sans-serif";
  overflow-x: hidden;
  overflow-y: hidden;

  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Standard */
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
