@config "../tailwind.config.ts";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Archivo";
  font-weight: 400;
  src: url(../.fonts/Archivo-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Archivo";
  font-weight: 500;
  src: url(../.fonts/Archivo-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Archivo";
  font-weight: 600;
  src: url(../.fonts/Archivo-SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: "Archivo SemiCondensed";
  font-weight: 400;
  src: url(../.fonts/ArchivoSemiCondensed-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Archivo SemiCondensed";
  font-weight: 500;
  src: url(../.fonts/ArchivoSemiCondensed-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Archivo SemiCondensed";
  font-weight: 600;
  src: url(../.fonts/ArchivoSemiCondensed-SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: "Commit Mono";
  font-weight: 400;
  src: url(../.fonts/CommitMono-400-Regular.otf) format("otf");
}

html {
  @apply font-sans;
  overflow-x: hidden;
  overflow-y: hidden;

  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Standard */
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
