@import "./typography-hierarchy/";
@import "./typography-color.css";

.fnt-weight-normal {
  font-weight: 300;
}

.fnt-weight-medium {
  font-weight: 500;
}

.fnt-weight-bold {
  font-weight: 700;
}

.fnt-weight-normal.fnt-clr--inverted {
  font-weight: 300;
}

.fnt-weight-medium.fnt-clr--inverted {
  font-weight: 400;
}

.fnt-weight-bold.fnt-clr--inverted {
  font-weight: 700;
}
