@import url("./css/shiki.css");
@import url("./css/admonition.css");
@import url("./css/tabs.css");

code {
  font-weight: normal;
  font-family:
    ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
}

pre {
  overflow: auto;
}
