/* Insert custom styles here */

navigation-view {
    padding: 5px;
    /* padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px; */
}

avatar {
    margin: 2px;
}

.trust {
    padding-top: 25px; 
    padding-bottom: 25px; 
}

.vm-list {
    margin-top: 25px; 
    margin-bottom: 25px; 
}

.no-shadow {
    box-shadow: none;	
}

.search-entry {
    margin-bottom: 12px; 
}

searchbar {
    margin-bottom: 25px; 
}

/* TODO: Disable shadow for empty lists */
/* list:empty {
    box-shadow: none;	
}  */