div.form-label {
  @apply flex flex-col gap-1 w-full;

  & > span,
  & > label,
  & > div {
    @apply w-full;
    /* remove line height which messes with sizing */
    @apply leading-none;
  }

  & > span,
  & > label {
    @apply flex items-center gap-1;
  }

  & > span[data-required]:not(span[data-readonly]),
  & > label[data-required]:not(label[data-readonly]) {
    .typography::after {
      @apply fg-def-4 ml-1;

      content: "*";
      font-family: "Commit Mono", monospace;
      font-size: 0.6875rem;
    }
  }
}
