.splash {
  position: fixed;
  inset: 0;
  background: linear-gradient(to top, #e3e7e7, #edf1f1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  pointer-events: none;
}

.splash_content {
  @apply flex flex-col items-center gap-2;
}

.splash_title {
  @apply h-8 mb-8;
}
