# shellcheck shell=bash
source_up

watch_file flake-module.nix shell.nix clan-app/flake-module.nix webview-ui/flake-module.nix

# Because we depend on nixpkgs sources, uploading to builders takes a long time
use flake .#ui --builders ''
