/* @import "@fontsource-variable/geist"; */

:root {
  --pageMargin: 15px;
  --globalBarHeight: 60px;
  --fgColor: #000;
  --fgInvertedColor: #fff;
  --bgInvertedColor: #203637;
}

html {
  box-sizing: border-box;

  &.no-scroll {
    overflow: hidden;
    height: 100vh;
  }
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Geist Variable";
  font-size: 16px;
  margin: 0;
}

h1 {
  margin: 2em 0;
}

h2 {
  margin: 2em 0 0.5em;
}

h3 {
  margin: 2em 0 1em;
}
