@import url("modern-normalize/modern-normalize.css");

@custom-media --wide (width >= 900px);

html {
  --fg-color: #000;
  --secondary-fg-color: #2c4347;
  --link-color: #0051ff;
  --link-underline-color: #4e80ec;
  --bg-color: #e1ecf0;
  --secondary-bg-color: #d2dee2;
  --input-fg-color: #4f747a;
  --input-border-color: #7b9b9f;
  --content-fg-color: #000;
  --content-bg-color: #fff;
  --content-secondary-fg-color: #415e63;
  --content-secondary-bg-color: #f7f9fa;
  --content-border-color: #d8e8eb;
  --nav-indent-guide-color: #afc6ca;
  --shiki-indent-offset: 10px;
  --shiki-diff-remove-bg-color: #db0a0a41;
  --shiki-diff-add-bg-color: #0adb4954;
  --shiki-highlighted-bg-color: #00000024;

  &.no-scroll {
    overflow: hidden;
    block-size: 100vh;
  }
}

body {
  font:
    400 18px/1.45 "Mona Sans",
    sans-serif;

  &:has([data-page-id="docs"]) {
    color: var(--fg-color);
    background: var(--bg-color);
  }
}

h1 {
  margin: 2em 0;
  color: inherit;
  font-weight: 700;
  font-size: 28px;
}

h2 {
  margin: 2em 0 0.5em;
  color: inherit;
  font-weight: 700;
  font-size: 21px;
}

h3 {
  margin: 2em 0 1em;
  font-size: 18px;
}

a {
  color: var(--link-color);
  text-decoration: 1px underline var(--link-underline-color);
  text-underline-offset: 2px;
}

b,
strong {
  font-weight: 600;
}

ul,
ol {
  padding: 0;
  padding-inline-start: 1.5em;
  margin: 40px 0;
}

li {
  &::marker {
    font-size: 16px;
  }

  p {
    margin-block: 0.5em;
  }
}

.shiki {
  padding: 14px 20px;
  margin: 0 -14px;
  font-size: 16px;
  line-height: 1.25;

  &.line-numbers {
    padding-inline: 0 20px;

    .line {
      padding-inline-start: 0;

      &::before {
        box-sizing: content-box;
        inline-size: 1.3em;
        /* padding-inline: 14px; */
        padding-inline: 14px;
      }
    }
  }
}

@media (--wide) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 23px;
  }

  .shiki {
    margin-inline: 0;
    border-radius: 7px;
  }
}
