@import url("modern-normalize/modern-normalize.css");

@custom-media --wide-viewport (width > 800px);

html {
  --fg-color: #000;
  --bg-color: #e1ecf0;
  --masthead-fg-color: #000;
  --masthead-bg-color: #fff;
  --nav-border-color: #d8e8eb;
  --shiki-indent-offset: 10px;
  --shiki-diff-remove-bg-color: : #db0a0a41;
  --shiki-diff-add-bg-color: : #0adb4954;
  --shiki-highlighted-bg-color: : #00000024;

  &.no-scroll {
    overflow: hidden;
    block-size: 100vh;
  }
}

body {
  font:
    500 18px/1.37 "Mona Sans",
    sans-serif;

  &:has([data-page-id="docs"]) {
    color: var(--masthead-fg-color);
    background: var(--masthead-bg-color);
  }
}

h1 {
  margin: 2em 0;
  color: inherit;
  font-weight: 700;
  font-size: 34px;
}

h2 {
  margin: 2em 0 0.5em;
  color: inherit;
  font-weight: 700;
  font-size: 24px;
}

h3 {
  margin: 2em 0 1em;
}

a {
  text-decoration: none;
}

.shiki {
  margin: 0 -15px;
  padding: 15px 0;

  .line {
    padding: 0 15px;
  }
}
