.fnt-body-default {
  font-size: 1rem;
  line-height: 132%;
  letter-spacing: 3%;
}

.fnt-body-s {
  font-size: 0.925rem;
  line-height: 132%;
  letter-spacing: 3%;
}

.fnt-body-xs {
  font-size: 0.875rem;
  line-height: 132%;
  letter-spacing: 3%;
}

.fnt-body-xxs {
  font-size: 0.6875rem;
  line-height: 132%;
  letter-spacing: 0.00688rem;
}
