.fnt-title-default {
    font-size: 1.125rem;
    line-height: 124%;
    letter-spacing: 3%;
}


.fnt-title-m {
    font-size: 1.25rem;
    line-height: 124%;
    letter-spacing: 3%;
}

.fnt-title-l {
    font-size: 1.375rem;
    line-height: 124%;
    letter-spacing: 3%;
}