.fnt-headline-default {
    font-size: 1.5rem;
    line-height: 116%;
    letter-spacing: 1%;
}

.fnt-headline-m {
    font-size: 1.75rem;
    line-height: 116%;
    letter-spacing: 1%;
}

.fnt-headline-l {
    font-size: 2rem;
    line-height: 116%;
    letter-spacing: 1%;
}