div.form-label {
  @apply flex flex-col gap-1 w-full;

  & > label,
  & > div {
    @apply w-full;
    /* remove line height which messes with sizing */
    @apply leading-none;
  }

  & > label {
    @apply flex items-center gap-1;
  }

  & > label[data-required] {
    span.typography::after {
      @apply fg-def-4 ml-1;

      content: "*";
      font-family: "Commit Mono", monospace;
      font-size: 0.6875rem;
    }
  }
}
