.container {
  max-width: 36rem;
  width: 100vw;
  background: #fff;
}
.content {
  @apply flex size-full flex-col gap-3;
  padding: 1rem;
}

.header {
  @apply flex w-full items-center justify-between;
}

.remove {
  @apply flex items-center justify-between gap-8 px-4 py-5;
  @apply rounded-md border-[0.0625rem] bg-semantic-error-2 border-semantic-error-4;
}
.clanInput {
  @apply grow;
}
.buttons {
  @apply flex items-center gap-2;
}
