.container {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 48rem;
  width: 100vw;
  border-radius: 0.375rem;
  overflow: hidden;
  height: fit-content;
  max-height: calc(100vh - 2rem);

  /* todo replace with a theme() color */
  box-shadow: 0.1875rem 0.1875rem 0 0 rgba(145, 172, 175, 0.32);
  @apply border border-def-3 rounded-bl-md rounded-br-md;
}

.titlebar {
  @apply flex items-center justify-center;
  @apply w-full px-2 py-1.5;
  @apply bg-def-3;
  @apply rounded-tl-md rounded-tr-md;
  /* @apply border-b-def-3; */

  border-bottom: solid 1px theme(colors.border.def.2);
}

.headingbar {
  background: #fff;
  border-bottom: 6px solid #e7f2f4;
}
.headingbarInner {
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid #d8e8eb;
  display: flex;
  justify-content: space-between;
}

.content {
  overflow-y: auto;
  background: #fff;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(32, 54, 55, 0.57);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
