# shellcheck shell=bash
source_up

mapfile -d '' -t nix_files < <(find ./nix -name "*.nix" -print0)
watch_file "${nix_files[@]}"

# Because we depend on nixpkgs sources, uploading to builders takes a long time
use flake .#docs --builders ''
