# shellcheck shell=bash
source_up

watch_file $(find ./nix -name "*.nix" -printf '%p ')

# Because we depend on nixpkgs sources, uploading to builders takes a long time
use flake .#docs --builders ''
