.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(32, 54, 55, 0.57);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
