/* Body */
.typography {
  &.font-weight-normal {
    font-weight: 400;
  }

  &.font-weight-medium {
    font-weight: 500;
  }

  &.font-weight-bold {
    font-weight: 600;
  }

  &.font-body {
    &.font-family-regular {
      font-family: "Archivo", sans-serif;
    }

    &.font-family-condensed {
      font-family: "Archivo SemiCondensed", sans-serif;
    }

    &.font-size-default {
      font-size: 1rem;
      line-height: 132%;
      letter-spacing: 0.02rem;
    }

    &.font-size-s {
      font-size: 0.875rem;
      line-height: 132%;
      letter-spacing: 0.0175rem;
    }

    &.font-size-xs {
      font-size: 0.75rem;
      line-height: 132%;
      letter-spacing: 0.0225rem;
    }

    &.font-size-xxs {
      font-size: 0.6875rem;
      line-height: 132%;
      letter-spacing: 0.00688rem;
    }
  }

  &.font-label {
    &.font-family-condensed {
      font-family: "Archivo SemiCondensed", sans-serif;

      &.font-size-default {
        font-size: 0.875rem;
        line-height: 132%;
        letter-spacing: 0.0175rem;
      }

      &.font-size-s {
        font-size: 0.8125rem;
        line-height: 132%;
        letter-spacing: 0.0175rem;
      }

      &.font-size-xs {
        font-size: 0.75rem;
        line-height: 132%;
        letter-spacing: 0.0075rem;
      }
    }

    &.font-family-mono {
      font-family: "Fira Code", monospace;

      &.font-size-default {
        font-size: 0.8125rem;
        letter-spacing: normal;
      }

      &.font-size-s {
        font-size: 0.75rem;
        letter-spacing: normal;
      }

      &.font-size-xs {
        font-size: 0.6875rem;
        letter-spacing: normal;
      }
    }
  }

  &.font-title {
    &.font-family-regular {
      font-family: "Archivo", sans-serif;
    }

    &.font-size-default {
      font-size: 1.125rem;
      line-height: 124%;
      letter-spacing: 0.03375rem;
    }

    &.font-size-m {
      font-size: 1.25rem;
      line-height: 124%;
      letter-spacing: 0.0375rem;
    }

    &.font-size-l {
      font-size: 1.375rem;
      line-height: 124%;
      letter-spacing: 0.04125rem;
    }
  }

  &.font-headline {
    &.font-family-regular {
      font-family: "Archivo", sans-serif;
    }

    &.font-size-default {
      font-size: 1.5rem;
      line-height: 116%;
      letter-spacing: 0.015rem;
    }

    &.font-size-m {
      font-size: 1.75rem;
      line-height: 116%;
      letter-spacing: 0.0175rem;
    }

    &.font-size-l {
      font-size: 2rem;
      line-height: 116%;
      letter-spacing: 0.06rem;
    }
  }

  &.font-teaser {
    &.font-family-regular {
      font-family: "Archivo", sans-serif;
    }

    &.font-size-default {
      font-size: 3rem;
      line-height: normal;
      letter-spacing: -0.06rem;
    }
  }
}
