# shellcheck shell=bash
source_up

watch_file flake-module.nix shell.nix default.nix

# Because we depend on nixpkgs sources, uploading to builders takes a long time
use flake .#clan-vm-manager --builders ''
