.container {
  max-width: 36rem;
  width: 100vw;
}
.content {
  @apply flex flex-col gap-3 size-full;
  padding: 1rem;
}

.header {
  @apply flex w-full items-center justify-between;
}

.remove {
  @apply flex justify-between items-center px-4 py-5 gap-8;
  @apply rounded-md bg-semantic-error-2 border-[0.0625rem] border-semantic-error-4;
}
.clanInput {
  @apply grow;
}
.buttons {
  @apply flex items-center gap-2;
}
