@font-face {
  font-family: "Roboto";
  src: url(./Roboto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Fira Code";
  src: url(./FiraCode-VF.ttf) format("truetype");
}

:root {
  --md-text-font: "Roboto";
  --md-code-font: "Fira Code";
}

.md-header img {
  filter: invert(100%) brightness(100%);
}

.md-nav__title,
.md-nav__item.md-nav__item--section > label > span {
  color: var(--md-typeset-a-color);
}
